
<container>
  <section >
    <ul>
      <%@movies.each do |movie|%>
        <div class="col-sm-2 " >
          <h4 class="section-heading"><%=movie.name%></h4>
          <p><%= link_to 'Check it out!', movie_path(movie), class:"text-muted" %></p>
          <%= link_to 'EDIT', edit_movie_path(movie), class:"btn btn-primary" %>
          <%= link_to 'DELETE', movie_path(movie), class:"btn btn-info",
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          </br></br></br>
        </div>
      <%end%>
    </ul>
  </section>
</container>
<div class="clearfix">
</div>
<!-- <mm-calendar id="coolBtn">
    <label>Hi There</label>
</mm-calendar> -->
