
<container>
  <section >
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Movies</h2>
        </div>
    </div>
    <ul>
      <%@movies.each do |movie|%>
        <div class="col-sm-2 " >
          <h4 class="section-heading movie_name"><%= link_to  movie.name, movie_path(movie), class:"text-muted"%></h4>
          <%= link_to 'EDIT', edit_movie_path(movie), class:"btn btn-primary" %>
          <%= link_to 'DELETE', movie_path(movie), class:"btn btn-danger",
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          </br></br></br>
        </div>
      <%end%>
    </ul>
  </section>
</container>
<div class="clearfix">
</div>
<!-- <mm-calendar id="coolBtn">
    <label>Hi There</label>
</mm-calendar> -->
