<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">

            <!-- <div class="intro-lead-in">Welcome!</div> -->
            <div class="intro-heading">Moodmaker</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hi there. Welcome</h2>
                <h3 class="section-subheading text-muted">What you can do here:</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-television fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Search & Add Movies</h4>
                <p class="text-muted">Check out the movies your friends are watching and what mood they were in. Add your own current feelings and matching movies.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Tell us how a movie made you feeeeel</h4>
                <p class="text-muted">aka tell us about your feelings</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-star-half-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Rate the movies you watch</h4>
                <p class="text-muted">Get in touch with your inner movie critic. </p>
            </div>
        </div>
    </div>
</section>
