<!DOCTYPE html>
<html>
<head>
  <img src=http://1.media.collegehumor.cvcdn.com/94/51/9599000c57b39269668f3b7b77eda5fa.jpg style="width:300px;height:300px;" align ='right' >
  <title>MoodmakerDelux</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor = "pink">

<%= yield %>

</body>
</html>
